.visualiserContainer {
  left: 100px;
  bottom: 0;

  position: fixed;
}
.visualiserArray {
  width: 10px;
  display: inline-block;
  margin: 0 1px;
}
form {
  display: inline-block;
}
.center {
  margin: 0;
  position: relative;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container {
  height: 50px;
}
